@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Rakkas&display=swap');

body {

    background-color: aqua;
   
}


.aboutme {

    background-color:azure;

    width: 190px;
    height: 1000px;
    position:absolute;
    top: 0px;
   left: 0px;
   

}

#line {


    background-color: cornflowerblue;
    width: 790px;
    height: 100px;
    border-style: solid;
    border-radius: 14px;
    border: 1px ;
    position:absolute;
    top: 300px;
    left: 190px;
}


   
   
   

#about {


    color: rgb(14, 187, 187) ;
    font-size: 20px;
    position: absolute;
    top:200px;
    right: 10px;
  animation-name: ab;
  animation-duration: 1s;
   
}


#pi{

    width: 150px;
    height: 150px;
    border-radius: 50%;
    position : absolute;
   left: 10px;
    top: 50px;
    animation-name: ph;
    animation-duration: 2s;
    

}

#ap{
color: rgb(14, 187, 187);

}

#ap:hover {

    background-color :rgb(29, 96, 173);
    border-style: solid;
    border-radius: 14px;
    border : 10px;
}

#me{

    position:absolute;
    top: 300px;
    left: 190px;
border-radius: 14px;
border-style: solid;
border: 0px;
border-spacing: 1px;
background-color: rgba(0, 0, 0, 0.418);
width: 250px;
height: 250px;
text-align: center;
animation-name: t;
animation-duration: 2s;
}

#po{

    position:absolute;
    top: 300px;
    left: 480px;
border-radius: 14px;
border-style: solid;
border: 0px;
border-spacing: 1px;
background-color: rgba(0, 0, 0, 0.418);
width: 250px;
height: 250px;
text-align: center;
animation-name: p;
animation-duration: 2s;
}

#la{
    position:absolute;
    top: 120px;
    left: 170px;
    width: 300px;
    height: 300px;

}



#pl {

    position:absolute;
    top: 175px;
    left: 500px;
    width: 150px;
    height: 150px;
}


#tic {

color: rgb(236, 236, 241);
font-size: 30px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
position:absolute;
top: -50px;
}

#ti {

    color: rgb(236, 236, 241);
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position:absolute;
    top: 70px;
    }

#en {

    color: rgb(236, 236, 241);
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position:absolute;
    top: -50px;
    left: 100px;
    }


    #e {

        color: rgb(236, 236, 241);
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position:absolute;
        top: 70px;
        left:45px;
        }
    

        #pr {


            position:absolute;
            top: 300px;
            left: 750px;
        border-radius: 14px;
        border-style: solid;
        border: 0px;
        border-spacing: 1px;
        background-color: rgba(0, 0, 0, 0.418);
        width: 230px;
        height: 250px;
        text-align: center;
        animation-name: as;
        animation-duration: 2s;
        }


    #prog{

        color: rgb(236, 236, 241);
        font-size: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position:absolute;
        top: -50px;
        left: 100px
    }


    #JO{

        color: rgb(236, 236, 241);
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position:absolute;
        top: 70px;
        left: 40px
    }
 


    #t:hover {

background-color :darkblue;

    border-style: solid;
    border-radius: 14px;
    border : 10px;
     }

    


    
    #pro {
        position:absolute;
        top: 160px;
        left: 790px;
        width: 190px;
        height: 190px;

    }

    #topc:hover  {

        animation-name: to;
        animation-duration: 2s;
    
        
        
      }

    #topc {
        
        position:absolute;
    top: 650px;
    left: 200px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(43, 47, 48);
    word-wrap: break-word;
    border-style: solid;
    border-color: whitesmoke;
    border-bottom: none;
    border-radius: 15px;
    

    
  }

  


    
        
  
       #t {

        color: cornsilk;
        text-decoration: none;
        
       }


      @keyframes ph {

        from {
     
            top: 0px;
        }
         
        to{

            top: 50px 

        }
      }
      @keyframes t {

        from {
        
            left: 0px;
        }
         
        to{

            left: 190 px;

        }
      }


      @keyframes p {

        from {
     
            left: 0px;
        }
         
        to{

            left:  480px;

        }
       
          
      }
    
      @keyframes as {

        from {
     
            left: 0px;
        }
         
        to{

            left: 750px;

        }
          
      }

     
      @keyframes ab {
        from {
     
            right: -100px;
        }
         
        to{

           right:  10px;

        }
          
      }

      @keyframes to {
        from {
          
           left: 0px;
          
        }
         
        to{

         left: 200px;
         
        }
          
      }

      
      @media screen and (max-width:500px) {


        #line {


            background-color: cornflowerblue;
            width: 790px;
            height: 100px;
            border-style: solid;
            border-radius: 14px;
            border: 1px ;
            position:absolute;
            top: 300px;
            left: 190px;
            display:none;
        }

        #me{

            position:absolute;
            top: 300px;
            left: 200px;
        border-radius: 14px;
        border-style: solid;
        border: 0px;
        border-spacing: 1px;
        background-color: rgba(0, 0, 0, 0.418);
        width: 240px;
        height: 250px;
        text-align: center;
        animation-name: t;
        animation-duration: 2s;
        }

        #la{
            position:absolute;
            top: 60px;
            left: 195px;
            width: 300px;
            height: 300px;
        
        }



        #po{

            position:absolute;
            top:650px;
            left:  200px;
        border-radius: 14px;
        border-style: solid;
        border: 0px;
        border-spacing: 1px;
        background-color: rgba(0, 0, 0, 0.418);
        width: 240px;
        height: 250px;
        text-align: center;
        animation-name: p;
        animation-duration: 2s;
     
        }
        
          
        #pl {

            position:absolute;
            top: 550px;
            left: 260px;
            width: 100px;
            height: 100px;
           
        }




        #pr {


            position:absolute;
            top: 950px;
            left: 200px;
        border-radius: 14px;
        border-style: solid;
        border: 0px;
        border-spacing: 1px;
        background-color: rgba(0, 0, 0, 0.418);
        width: 230px;
        height: 250px;
        text-align: center;
        animation-name: as;
        animation-duration: 2s;
        
        }


         
    #pro {
        position:absolute;
        top: 890px;
        left: 260px;
        width: 70px;
        height: 70px;
        


    }

    #cont {
       border-style: solid;
        border-bottom: none;
        border-radius: 15px;
        width: 150px;
        height: 100px;
       
    }
    #topc {
        
        position:absolute;
    top: 1290px;
    left: 100px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(43, 47, 48);
    word-wrap: break-word;
   
    

    
  }



  @keyframes t {

    from {
    
        left: 0px;
    }
     
    to{

        left: 190 px;

    }
  }


  @keyframes p {

    from {
 
        left: 0px;
    }
     
    to{

        left: 200px;

    }
   
      
  }

  @keyframes as {

    from {
 
        left: 0px;
    }
     
    to{

        left: 200px;

    }
      
  }

 
  

  @keyframes to {
    from {
      
       left: 0px;
      
    }
     
    to{

     left: 200px;
     
    }
      
  }
      }
    
